<header class="{{classColorName}}">
	<a href="http://4aout.fr/" target="_blank" class="ic-logo logo"></a>
</header>
<main class="{{classColorName}}">
	<canvas id="word-slider"></canvas>
	<button id="stop-slider">stop</button>
</main>