<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
	<canvas id="word-slider"></canvas>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
